@import "tailwindcss";

@layer components {
  .td-primary {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
    border: 1px solid var(--color-gray-200);
  }
  
  .th-primary {
    padding: 0.75rem 1rem;
    border-right: 1px solid var(--color-gray-200);
  }
/*   
  .tr-hover {
    border-top: 1px solid var(--color-gray-200);
}  */

  .tr-hover:hover {
    background-color: var(--color-indigo-50);
  }

  .input-primary {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .input-primary:focus {
    outline: none;
    border-color: #3b82f6;
  }

  .input-date {
    width: 8rem;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 0.375rem 0.5rem;
    font-size: 0.875rem;
  }

  .input-date:focus {
    outline: none;

  }

}